* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccccccb1;
    top: 0;
    position: sticky;
    background-color: #fff;
    z-index: 3;
}

.header-section .logo img {
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header-section .logo img:hover {
    transform: scale(1.2);
}

.header-section .logo {
    width: 101px;
}

.header-section .links {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    align-items: center;
}

.header-section .links li {
    list-style-type: none;
    text-decoration: none;
    transition: all 0.35s ease;
}

.header-section .links li:hover {
    border-bottom: 2px solid red;
    transform: scale(1.1);
    cursor: pointer;

    transition: all 0.35s ease;
}

.header-section .links li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: black;
    letter-spacing: 1px;

}

.header-section .links li a:hover {
    color: red;
}

.res-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 50px;
}


.res-card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    max-width: 300px;
    overflow: hidden;
    border-radius: 20px;
    min-height: 400px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.res-card:hover {
    transform: scale(1.07);
    border: 1px solid #00000057;
}

.res-card .logo {
    width: 300px;
    height: 200px;
}

.res-card .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.name {
    font-size: 19px;
    font-weight: bold;
}

.avg-cost {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.avg-cost span:first-child {
    font-weight: bold;
}

.avg-cost span:last-child {
    color: rgba(0, 0, 0, 0.716);
    font-weight: 700;
    font-style: italic;
}

.cuisines {
    color: rgba(0, 0, 0, 0.716);
    font-weight: 500;
}

.locality {
    color: rgba(0, 0, 0, 0.934);
    font-weight: 500;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
    font-weight: 500;
    font-style: italic;
    color: #000000b3;
    cursor: pointer;
    text-align: center;
}

.filter-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 3px;
}

.filter-btn {
    padding: 10px 22px;
    border: none;
    background-color: orangered;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filter-btn:hover {
    background-color: rgb(218, 63, 7);
    transform: scale(1.05);
}

.shimmer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}

.card {
    position: relative;
    -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #FFF;
    border-radius: 20px;
    height: 400px;
    overflow: hidden;
    width: 300px;
}

.shimmerBG {
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #ddd;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 1200px 100%;
}


@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }

    100% {
        background-position: 1200px 0;
    }
}

.media {
    height: 200px;
}

.p-32 {
    padding: 32px;
}

.title-line {
    height: 24px;
    width: 100%;
    margin-bottom: 12px;
    border-radius: 20px;
}

.content-line {
    height: 8px;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 8px;
}

.end {
    width: 40%;
}



.m-t-24 {
    margin-top: 24px;
}

.authBtn {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.authBtn:focus {
    text-decoration: none;
}

.authBtn:hover {
    text-decoration: none;
}

.authBtn:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.authBtn:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .authBtn {
        padding: 12px 50px;
    }
}

.search-bar {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-inline: 40px;
}

.input {
    width: 300px;
    height: 35px;
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid #ccc;
    padding-left: 10px;
}

.input::placeholder {
    font-size: 17px;
}

.input-btn {
    padding: 7px 15px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: 2px solid black;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.input-btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

.about-card {
    border: 7px solid black;
    margin: 20px;
    width: 700px;
    padding: 10px;
}